<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projekto duomenu ivedimas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<h4>Iveskite nauja projekta</h4>
<form action="/projektas/naujas" method="post">
    <p>Projekto pavadinimas:</p>
    <p><input type="text" name="pavadinimaslaukelis"></p>
    <p>Projekto kaina:</p>
    <p><input type="text" name="kainalaukelis"></p>
    <p><input type="submit" value="issaugoti"></p>
</form>
</body>
</html>